In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [3]:
dataset=pd.read_csv(r'C:\Users\hp\Desktop\ExcelR\Assignments Folder\Hypothesis Testing\Costomer+OrderForm.csv',encoding = 'ascii')
dataset

     Phillippines    Indonesia         Malta         India         Unnamed: 4
0      Error Free   Error Free     Defective    Error Free                NaN
1      Error Free   Error Free    Error Free     Defective                NaN
2      Error Free    Defective     Defective    Error Free                NaN
3      Error Free   Error Free    Error Free    Error Free                NaN
4      Error Free   Error Free     Defective    Error Free                NaN
..            ...          ...           ...           ...                ...
300           271          267           269           280   Error Free Total
301            29           33            31            20    Defective Total
302   9.634551495  10.96345515   10.29900332   6.644518272  Defective Percent
303  -8.634551495  -9.96345515  -9.299003322  -5.644518272                NaN
304        #NAME?          NaN           NaN           NaN                NaN

[305 rows x 5 columns]

In [5]:
dataset.Phillippines.value_counts()

Error Free      271
Defective        29
271               1
29                1
9.634551495       1
-8.634551495      1
#NAME?            1
Name: Phillippines, dtype: int64

In [6]:

dataset.Indonesia.value_counts()

Error Free     267
Defective       33
267              1
33               1
10.96345515      1
-9.96345515      1
Name: Indonesia, dtype: int64

In [8]:
dataset.Malta.value_counts()

Error Free      269
Defective        31
269               1
31                1
10.29900332       1
-9.299003322      1
Name: Malta, dtype: int64

In [9]:

dataset.India.value_counts()

Error Free      280
Defective        20
280               1
20                1
6.644518272       1
-5.644518272      1
Name: India, dtype: int64

In [10]:
# Make a contingency table
obs=np.array([[271,267,269,280],[29,33,31,20]])
obs

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [11]:
# Chi2 contengency independence test
chi2_contingency(obs) # o/p is (Chi2 stats value, p_value, df, expected obsvations)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [ ]:
# Compare p_value with α = 0.05