In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [3]:
dataset=pd.read_csv(r'C:\Users\hp\Desktop\ExcelR\Assignments Folder\Hypothesis Testing\LabTAT.csv',encoding = 'ascii')
dataset.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4 Unnamed: 4
0        185.35        165.53        176.70        166.13        NaN
1        170.49        185.91        198.45        160.79        NaN
2        192.77        194.92        201.23        185.18        NaN
3        177.33        183.00        199.61        176.42        NaN
4        193.41        169.57        204.63        152.60        NaN

In [5]:
# Anova ftest statistics: stats.f_oneway(column-1,column-2,column-3,column-4)
p_value=stats.f_oneway(dataset.iloc[:,0],dataset.iloc[:,1],dataset.iloc[:,2],dataset.iloc[:,3])
p_value

F_onewayResult(statistic=20.40237435337626, pvalue=1.827032192078278e-12)

In [6]:
p_value[1]  # compare it with Î± = 0.05

1.827032192078278e-12